# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
.venv-wsl/
.venv-win/
venv/
ENV/
env/

# Environment variables
.env
#.env.*

# Logs / cache / output
logs/
cache/

# Test
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.lock
*~

# OS
.DS_Store
Thumbs.db
